*{
    margin: 0;
    padding: 0;
}

.slick-dots{
    margin-bottom: 20px;
}


.slick-arrow.slick-next::before{
    color: #b83ccc;
}

.slick-arrow.slick-prev::before{
    color: #b83ccc;
}

.slick-dots li button:before {
    background: rgb(184, 60, 204);
    color: black;
}

.slick-dots li button{
    background: transparent;
}

.comments::-webkit-scrollbar {
    width: 12px;      
  }
  .comments::-webkit-scrollbar-track {
    background: #ffffff; 
    border-radius: 5px;  
  }
  .comments::-webkit-scrollbar-thumb {
    background-color: #b83ccc;
    border-radius: 5px;      
    border: 3px solid ;
  }